@font-face {
    font-family: 'MontserratLight';
    src: url('Montserrat-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'MontserratBold';
    src: url('Montserrat-Bold.ttf') format('truetype');
}

body {
    max-width: 1440px;
    margin: auto;
}

header {
    border-bottom: #FF6060 solid 3px;
}

h1 {
    text-align: center;
    font-family: MontserratBold;
}

#button {
    background-color: #FF6060;
    color: white;
    margin-top: 30px;
}

#text {
    height: 150px;
}

main {
    margin-top: 40px;
}

h2 {
    text-align: center;
    font-family: MontserratLight;
    font-size: 12pt;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

label {
    font-weight: bold;
    font-family: MontserratLight;
    font-size: 10pt;
    margin-top: 10px;
}

@media screen and (min-width: 992px) {
    
    input {
        font-family: MontserratLight;
        height: 25px;
        margin: 5px;
        border-radius: 10px;
        border: #FF6060 solid 1px;
        width: 800px;
        height: 50px;
    }
}


@media screen and (max-width: 991px) {

    input {
        font-family: MontserratLight;
        height: 25px;
        margin: 5px;
        border-radius: 10px;
        border: #FF6060 solid 1px;
        width: 400px;
        height: 50px;
    }
}