h1, h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input {
    width: 40%;
    height: 25px;
    margin: 5px;
}