doctype html

html(lang="en")
    head
        meta(charset='UTF-8')
        title Form
        block styles
            link(rel="stylesheet", type='text/css', href="form.css")
    body
        header
            h1 Hello everyone!
            h2 Could you complete this form?

            form(action="/form", method="post")
                label(for="Message_Text") Text
                input(type="text", name="Message_Text")

                input.submit(type='submit')