doctype html

html(lang="en")
    head
        meta(charset='UTF-8')
        title Form
        block styles
            link(rel="stylesheet", type='text/css', href="form.css")
    body
        header
            h1 Hello everyone!
            h2 Could you complete this form?

            form(action="", method="post") 

                label(for="Message_Text") Text
                input(type="text")
                //label(for="Message_Title") Object
                //input(type="text")
                //label(for="User_Id") User_Id
                //input(type="int", name="")
                input.submit(type='submit')