doctype html

html
    head
        title Home
    body
        header
            h1 Hello everyone!
            p This is my homepage.
            p Would you like to send me a message? Click here:
            a.link_in(href="form", target="_blank") Form